<form action="/survey/index/survey_answers.php" method="post">
    <div>
        <span>Name:</span>
        <input type="text" name="name">
    </div>
    <div>
        <span>Age:</span>
        <input type="text" name="age">
    </div>
    <div>
        <span>What is your favorite animal?:</span><br>
        <input type="radio" name="answer1" value="1">Duck<br>
        <input type="radio" name="answer1" value="2">Giraffe<br>
        <input type="radio" name="answer1" value="3">Hippo<br>

    </div>
    <br>
    <div>
        <span>What is your favorite country?:</span><br>
        <input type="radio" name="answer2" value="1">Finland<br>
        <input type="radio" name="answer2" value="2">Vietnam<br>
        <input type="radio" name="answer2" value="3">Russia<br>

    </div>
    <br>
    <div>
        <span>What is your favorite programming language?:</span><br>
        <input type="radio" name="answer3" value="1">Javascript<br>
        <input type="radio" name="answer3" value="2">C++<br>
        <input type="radio" name="answer3" value="3">C#<br>

    </div>
    <br>
    <div><input type="submit" name="submit" value="Submit"></div>
</form>
